@media (min-width: 769px)
{
p
{
	font-size:14px !important;
}

h1
{
	font-size:24px !important;
}

h2
{
	font-size:22px !important;
}
.back-link 
{
	font-size:22px !important;
} 

h3,.mob-nav-menu-parent
{
	font-size:20px !important;
}

h4
{
	font-size:18px !important;
}

h5
{
	font-size:16px !important;
}
.mob-nav-menu-parent
{
	font-size:20px;
}
.mob-nav-menu-child
{
	font-size:13px;
}
}
@media (max-width: 768px)
{
	p
	{
		font-size:10px !important;
	}

	h1
	{
		font-size:22px !important;
	}

	h2
	{
		font-size:20px !important;
	}
	
	.back-link
	{
		font-size:20px !important;
	}

	h3
	{
		font-size:18px !important;
	}

	h4
	{
		font-size:16px !important;
	}

	h5
	{
		font-size:14px !important;
	}
	.mob-nav-menu-parent
	{
		font-size:15px;
	}
	.mob-nav-menu-child
	{
		font-size:11px;
	}
}